.main .heading {
    font-size: 2rem;
    color: #353535;
    padding: 0.5rem;
}

.cpass_icon {
    position: absolute;
    top: 9.5%;
    right: 15%;
}
.cpass_icon2 {
    position: absolute;
    top: 36.5%;
    right: 15%;
}